<li id="general_discussion">
  <%= link_to general_discussion_posts_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a discussion
  <% end %>
</li>

<li id="looking_for_players">
  <%= link_to looking_for_players_posts_path do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Find players
  <% end %>
</li>

<li id="looking_for_gm">
  <%= link_to looking_for_gm_posts_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> Find a game master
  <% end %>
</li>
