<li class="mobile-menu">
  <ul>
    <li>
      <%= link_to general_discussion_posts_path do %>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a discussion
      <% end %>
    </li>
    <li>
      <%= link_to looking_for_players_posts_path do %>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> Find players
      <% end %>
    </li>
    <li>
      <%= link_to looking_for_gm_posts_path do %>
        <i class="fa fa-users" aria-hidden="true"></i> Find a game master
      <% end %>
    </li>
    <li>
      <%= link_to messenger_path, class: 'messenger-link' do %>
        <i class="fa fa-envelope" aria-hidden="true"></i> Messages
      <% end %>
    </li>
  </ul>
</li><!-- mobile_menu --> 
